body{
    background-color: grey;
}

.container {
    margin-top:  20px;
}

.mainImage{
    float: left;
    max-width: 50%;
    margin: 1%;
}

.jumbotron {
    height: 100%;
}

.footer {
    background-color: indigo;
}

.imageLink{
    max-width: 100%;
    margin: 1%;
    height: 80%;
}
