body{
    background-color: grey;
}

.container {
    margin-top:  20px;
}

.mainImage{
    float: left;
    height: 80%;
    margin: 1%;
}

.jumbotron {
    height: 100%;
}

.footer {
    background-color: indigo;
}

.imageLink {
    margin: 1%;
    height: 80%;
}

@media screen and (max-width: 400px) {
.mainImage {
    float: left;
    height: 40%;
}


}